*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sdf
*.opensdf
*.db
*.opendb
*.ilk
*.pdb
*.idb
*.pch
*.ipch
*.obj
*.bin
*.exe
*.lib
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.rc
*.suo
*.user
*.so
*.o
*.a
*.i
build/
doc/